<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
      <script src="/javascripts/layout.js"></script>
  </head>
  <body>
      <header>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <h1>SitDown</h1>
          </div>
          <div id="search" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <select name="" id="">
                  <option value="name">Team Members</option>
                  <option value="role">Roles</option>
                  <option value="date">Date</option>
              </select>
              <input type="text" placeholder="Search for team members name..."/>
          </div>
      </header>
      <main>{{{body}}}</main>

  </body>
</html>
